:host .mat-card {
  width: 350px;
  overflow: hidden;
  height: 246px;
  @apply bg-gray-600 transition-all;
  @apply border-2 border-dotted;

  &.new {
    height: 52px;
  }

  &.saved {
    @apply border-0;
  }

  textarea {
    @apply resize-none bg-gray-600 outline-0
    w-full text-white rounded-md scrollbar
    scrollbar-thumb-amber-300 scrollbar-track-gray-300;
  }

}
