<div class="h-full flex flex-col bg-gray-700">
  <mat-toolbar>
    <mat-toolbar-row class="flex items-center space-between bg-gray-800">
      <div class="toolbar-title text-orange-400">My Notes</div>
      <mat-form-field class="mx-3 border-orange-400 w-full h-[45px] text-[12px]"
                      [appearance]="'outline'">
        <input matInput
               placeholder="Search..."
               class="text-[14px] text-white"
               tabindex="0"
               autocomplete="false"
               [formControl]="searchInputControl">
        <mat-icon matSuffix class="text-orange-400">search</mat-icon>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>
  <main
    class="flex flex-wrap print:block justify-start p-2 gap-2 w-full h-max-full overflow-auto items-start">
    <ng-container *ngFor="let note of notes; let i = index">
      <app-note-card [tabindex]="i+10" [note]="note"></app-note-card>
    </ng-container>
    <app-note-card class="print:hidden" [tabindex]="notes.length+15"></app-note-card>
  </main>
</div>
